COINGECKO_KEY=your_key
NEWSAPI_KEY=your_key
GROQ_API_KEY=your_key
BINANCE_API_KEY=your_key
BINANCE_API_SECRET=your_secret
GEMINI_API_KEY=your_key
TELEGRAM_TOKEN=your_token
TELEGRAM_CHAT_ID=your_exact_chat_id_number
ETHERSCAN_KEY=your_key
